body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	padding:0;
	margin:0;
}
ul{
	padding:0;
	margin:0;
}
ul li{
	list-style:none;	
}
a{
	text-decoration:none;
}
#toTop {
	background-image:url(../img/backtop.jpg);
	background-repeat:no-repeat;
	text-indent:-9999px;
	font-weight:bold;
	padding:15px 23px;
	position:fixed;
	cursor:pointer;
	display:none;
	bottom:48px;
	right:20px;
	z-index:100;
}

/*start header*/
.pgSize{
	width:1188px;
	margin:0 auto;
}
.right-navi{
	padding-right:2%;
	float:right;
	width:70%;
}
.right-navi p{
    float: left;
    font-size: 11px;
    color: #21a1db;
    margin-top: 22px;
    margin-left: 22px;
}
.logo-img{
	margin:2% 0% 1% 1%;
	/*float:left;*/
	background-image:url(../img/logo3.png);
	background-repeat:no-repeat;
	width:298px;
	height:98px;
	float:left;
	text-indent:-99999px;
}
.top-navibar{
	-webkit-border-radius:0px 0px 12px 12px;
	-moz-border-radius:0px 0px 12px 12px;
	border-radius:0px 0px 12px 12px;
	background-color:#5b5b5b;
	overflow: hidden;
	margin-bottom:1%;
	padding:1% 4%;
	float:right;
	/*width:55%;*/
	width:73%;
}
.top-navibar ul{
	padding-top:3px;
	float:left;	
}
.top-navibar ul li{
	border-right:1px solid #FFF;
    display:inline-block;
	padding:0px 8px;
}
.top-navibar ul li a{
	text-decoration:none;
	font-size:12px;
	color:#FFF;
}
.top-navibar li:last-child {
 	border-right:none;
}
.socialMedia{
	float:right;
}
.socialMedia ul{
	padding-top:0px;	
}
.socialMedia ul li{
	border-right:none;
	padding:0px;
	padding-right:2px;
}
.socialMedia ul li:last-child {
	padding-right:0px;	
}
.media{
	float:right;
	margin-right:10px;
}
.bottom-navibar{
	float:right;
	clear:right;   
}
.bottom-navibar ul li{
	border-right:1px solid #c7c7c7;
	position:relative;
    padding:10px 15px;
	margin-top:1%;
	float:left;
}
.bottom-navibar ul li a{
	display:inline-block;
	color:#000;
}
.bottom-navibar ul li:hover{
	border-top:5px solid #F00;
	background-color:#0CF;
    margin-top:0.4%;
}
.bottom-navibar ul li:hover a{
	color:#FFF;	
}
.bottom-navibar li ul {
	background-color:#0CF;
	position:absolute;
    text-align:left;
    display:none;
    width:175px;
    z-index:99;
    top:99%;
    left:0;
}
.bottom-navibar li:hover ul {
	display: block;
}
.bottom-navibar li:hover li, .bottom-navibar li li {
	border-right:none;
	border-bottom:1px solid #c7c7c7;
	padding:5px 15px;
	float:none;
}
.bottom-navibar ul li:hover li, .bottom-navibar ul li li:hover a{
	margin-top:0%;
	border-top:none;
	color:#ffde01;	
}
.bottom-navibar li li a{
	color:#FFF;		 
}
.bottom-navibar li:last-child {
	border-right:none;
}
/*end of header*/

/*start of slider*/
.slider-bg{
	background-color: #e9f6fc;
	overflow:hidden;
	padding:1% 0%;
	clear:both;
}
/*end of slider*/
/*start of contentarea*/
.content_area {
	background-color:#e9eaea;
	overflow:hidden;
	padding:1% 0%;
	clear:both;
}
.left_bar {
	float:left;
	width:76%;
}
.right_bar {
    border:1px solid #a3a8b0;
	background-color:#fff;
	padding:0.8% 1.5%;
	float:right;
    width:20%;
}
.c_slider {
	margin-right:6px;
	width:49%;
	float:left;
	position: relative;
	}
.news {
	border:1px solid #a3a8b0;
	background-color:#fff;
	padding:0.8% 1%;
	width:47.5%;
    float:left;
	height:293px;
}
.news h2 {
   	background-image:url(../img/News.jpg);
	background-position:left center;
    background-repeat:no-repeat;
	font-weight:normal;
	text-align:center;
	font-size:18px;
	margin:0px;
    padding:6%;
}
.news p{
	font-size:12px;
	text-align:justify;
	/*line-height:1.5;*/
	margin:0px;
}
.news_img {
   /* margin:10px 10px 0 5px;
	float:left;*/
	/*text-align:justify;*/
}
/*Right bar css*/
.homeThreeSection{
	padding-top:10px;
	clear:both;
}
.researchPnl {
    background-image:url(../img/pix.jpg);
    background-repeat: repeat-x;
    border: 1px solid #a3a8b0;
    float: left;
    *height: 364px;
    margin-right:10px;
    width:30.2%;
	padding:1%;
	background-color:#fff;
}
.researchPnl:last-child {
	margin-right:0;
}
.researchCnt{
	position:relative;
}
.researchCnt > ../img {
    border:3px solid #fff;
    width:98%;
}
.researchPnl h2{ 
    background-color: #e05f23;
    color: #fff;
    margin:0%;
    position: absolute;
    font-size: 14px;
    padding: 4px;
	bottom: 4px;
    right: 0;
}
.researchPnl > p {
   font-size:12px;
}
.researchPnl a {
    color: grey;
}

.banner {
	    float: left;
    margin-top: 10px;
}
.right_searchbar {
	background-image:url(../img/searc.png);
	background-repeat:no-repeat;
	background-position:97% 51%;
    border:1px solid #f3f3f3;
	width:100%;
	padding:4%;
}
.hr {
	border:1px dotted grey;
	margin-top:9px;
	}
.sub_email {
    width: 95%;
    height: 35px;
    border: 1px solid #f3f3f3;
    padding: 0% 2%;
}
.subscribe p {
    margin: 12px 0 4px 0;
}
.send_email {
	background-image:url(../img/subscribe-arrow.png);
	background-repeat:no-repeat;
    background-color: #f15a2b;
    background-position:94% 48%;
    margin-top:5px;
    padding:3% 8%;
    cursor:pointer;
	border:none;
	color:#FFF;
}						
.latestBlog{
	border-bottom:1px dotted grey;
	border-top:1px dotted grey;
	padding:2% 0%;
	overflow:hidden;
    margin-top:15px;
}
.being {
	margin-right:8px;
	float:left;
}
.latestBlog h3 {
	font-weight:normal;
	font-size:14px;
	margin-top:10px;
	margin-bottom:0px;
}								
.promo {
    margin-top:4%;
}
.promo p{
	font-size:12px;	
}
.promo a {
	text-decoration:none;
	color:#f15a2b;
}
.youtubeLink{
	margin-top:7%;
}								
.youtubeLink h3 {
	background-image:url(../img/youtube.png);
    background-repeat:no-repeat;
	background-position:left center;
	border-bottom:1px dotted grey;
	border-top:1px dotted grey;
    padding:5% 26%;
	font-size:14px;
}						
.youtubeLink ../img {
	width:100%;
}
/*end of contentarea*/
/*start of footer*/
.footerLink{
	background-image:url(../img/footerlogo.jpg);
	background-repeat:no-repeat;
	background-size:100% 100%;
	border-top:10px solid #f15a2b;
	overflow:hidden;
	padding-top:16px;
}
.footerLink h3{
	font-weight:bold;
	font-size:12px;
	color:#FFF;
}
.footerLink ul{
	border-right: 1px solid #f15a2b;
	float: left; 
    min-height:323px;
    padding:0% 1.4%;
}
.footerLink ul:last-child{
	border-right:none;
}
.footerLink ul li a{
	font-size:12px;
	color:#bbbbbb;
}
.footerLink ul li a:hover{
	text-decoration:underline;	
}
.footer-navibar1:last-child{
	border-right:none;
}
.footerGrey{
	background-color:#939496;
	padding:1%;
	overflow:hidden;
}
.down-navibar{
	padding-top:4px;
	float:left;
}
.down-navibar ul li{
    border-right:1px solid #FFF;
	display:inline-block;
	padding:0px 4px
}
.down-navibar ul li a{
	text-decoration:none;
	color:#FFF;
}
.down-navibar ul li a:hover{
	text-decoration:underline;	
}
.down-navibar li:last-child {
  border-right: none;
}
.icon{
	float:right;
}
.icon ul li{
    float:left;
    margin-left:6px;
	color:#FFF;
}
.icon ul li a{
	text-decoration:none;
	color:#FFF;
}
.icon li:first-child {
  	padding-top:3px;
}
.copyRightPnl{
	padding:2% 0%;
	overflow:hidden;
}
.itc-logo{
	width:41%;
	float:left;
}

.itc-logo img{
	margin-right:15px;
	float:left;	
}
.itc-logo p{
	font-weight:bold;
	padding-top:5px;
}	
.itc-logo2{
	margin-left:2%;
	float:left;
	width:32%;
}
.itc-logo2 img{
	float:left;
    margin-right:16px;
}
.web-logo{
	float:right;
	width:20%;
	text-align:right;
}
.web-logo img{
	padding-top: 10px;
	vertical-align: middle;
	margin-left:5px;
}
.web-logo p {
	font-size:12px;
	padding-top:6px;
	display: inline-block;
	color:#939496;
}
.web-logo a{
	color:#939496;
}
/*end of footer*/
/*Sliders*/
.master-slider {
    position: relative;
    visibility: hidden;
    -moz-transform: translate3d(0, 0, 0)
}
.ms-ie img {
    border: none
}
.ms-ie8 * {
    opacity: inherit;
    filter: inherit
}
.ms-ie7 {
    zoom: 1
}
.ms-moz .ms-slide-bgcont>img {
    transform: translateX(0)
}
.master-slider a,
.master-slider a:hover {
    -webkit-transition: none;
    -o-transition: none;
    transition: none
}
.master-slider-parent *,
.wpb_row .master-slider-parent * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}
.master-slider-parent {
    margin-left: auto;
    margin-right: auto
}
.ms-layout-partialview .ms-view {
    overflow: visible;
    background-color: transparent
}
.ms-layout-partialview .ms-container,
.ms-mask-frame,
.ms-thumb-frame,
.ms-thumb-list,
.ms-view {
    overflow: hidden
}
.ms-loading-container {
    position: absolute;
    width: 100%;
    top: 0
}
.ms-loading-container .ms-loading,
.ms-slide .ms-slide-loading {
    width: 36px;
    height: 36px;
    background: url(../img/loading.gif) center no-repeat #fff;
    border-radius: 60px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -18px;
    opacity: .9
}
.ms-view,
.ms-view .ms-slide-container {
    position: relative
}
.ms-def-cursor {
    cursor: auto!important
}
.ms-grab-cursor {
    cursor: url(../img/grab.png), move
}
.ms-grabbing-cursor {
    cursor: url(../img/grabbing.png), move
}
.ms-ie .ms-grab-cursor,
.ms-ie .ms-grabbing-cursor {
    cursor: move
}
.ms-view {
    margin: 0 auto;
    -webkit-perspective: 2000px;
    -moz-perspective: 2000px;
    -ms-perspective: 2000px;
    perspective: 2000px
}
.ms-slide {
    position: absolute;
    height: 100%;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0)
}
.ms-wk .ms-slide {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d
}

.ms-skin-light-3 .ms-nav-next, .ms-skin-light-3 .ms-nav-prev {
    width:36px;
    background:url(../img/light-skin-3.png) -201px -73px;
    height:36px;
    cursor:pointer;
    top:45%;
    left:-1px;
    margin-top:-25px;
    position:absolute;
    z-index:110;
}
.ms-skin-light-3 .ms-nav-next {
    background-position:-201px -230px;
	right:2px;
    left:auto;
}
.ms-bullets.ms-dir-h {
    position:absolute;
    bottom:4px !important;
    right:41%;
    width:100px !important;
}
.ms-bullets.ms-dir-h .ms-bullets-count {
    z-index:10000;
    position:relative;
    right:-50%;
}
.ms-bullet {
    background-image:url(../img/pager-bg.png);
	background-repeat:no-repeat;
	width:9px;
    height:10px;
    margin:5px 2px !important;
	cursor:pointer;
    float:left;
}
.ms-bullet-selected {
    background-image:url(../img/active-pager-bg.png);
}
/*End Sliders*/

/*Start responsive slides css*/

.rslides {
	position:relative;
	list-style:none;
	overflow:hidden;
	width:100%;
	padding:0;
	margin:0;
}
.rslides li {
	-webkit-backface-visibility:hidden;
	position:absolute;
	display:none;
	left:0;
	top:0;
}
.rslides img {
	height:auto;
	width:100%;
	border:0;
}
ul.rslides_tabs{
	position:absolute;
    bottom:10px;
    right:42%;
    width:56px;
	z-index:100;
}
ul.rslides_tabs li{
	margin:0px 5px 0px 0px;
	float:left;
}
ul.rslides_tabs li a {
    background-image:url(../img/pager-bg.png);
    background-repeat:no-repeat;
	display:inline-block;
	text-indent:-9999px;
	height:10px;
	width:9px;
}	
ul.rslides_tabs li.rslides_here a{
    background-image:url(../img/active-pager-bg.png);
}

  /*Ends of responsives slider*/


@media only screen 
and (min-width: 240px) 
and (max-width: 800px) 
{
	.pgSize{
		width:98%;
		//padding:0% 2%;
	}
	.logo-img{
		background-image:url(../img/logo2.png);
		background-position:center;
		width: 100%;
		margin: 10px 0px;
		padding: 0px;
		text-align:center;
	}
	.top-navibar{
		border-radius:0px;
	}
	.top-navibar ul{
		float:none;
		padding-top:0px;
		text-align:center;	
	}
	.top-navibar ul li{
		padding: 0px 6px;	
	}
	.right-navi{
		padding-right:0px;	
	}
	.top-navibar, .right-navi{
		float:none;
		width:auto;
		clear:both;	
	}
	.socialMedia{
		display:none;	
	}
	.footerLink{
		padding-top:5px;
		padding-bottom: 6px;	
		background-image:none;
		background-color:#5b5b5b;
	}
	.footerLink ul{
		float:none;
		min-height:inherit;
		border-right:none;	
	}
	.down-navibar{
		float:left;	
	}
	.down-navibar ul li{
		border-right:none;
		margin-bottom:6px;
		display:inherit;	
	}
	.icon{
		float:none;
		overflow: hidden;
    	clear: both;	
	}
	.itc-logo, .itc-logo2, .web-logo{
		width:auto;
		float:none;
		overflow:hidden;
		text-align:center;	
	}
	.itc-logo img, .itc-logo2 img{
		float:none;
		margin-right:0px;	
	}
	.left_bar {
    	float:none;
		width:auto;
	}
	.c_slider{
		text-align:center;
		display:none;	
	}
	.c_slider, .researchPnl{
		margin-right:0px;
		width:auto !important;
		float:none;	
	}
	.researchPnl{
		margin-bottom:5px;	
	}
	.news h2{
		background-position:center;	
		background-size:100%;
	}
	.news{
		width:auto;
		float:none;
		height:auto;
		overflow:hidden;
	}
	.banner{
		float:none;	
	}
	.banner img{
		width:100%;
		margin-bottom:10px;	
	}
	.right_bar{
		margin-top:10px;
		width:auto;
		float:none;
		margin-bottom:10px;
		overflow:hidden;
		clear:both;	
	}
	.researchCnt img{
		width:100%;	
	}
	.right-navi p{
		float:none;
		margin-left:0px;
		margin-top:15px;
		text-align: center;	
	}
}
    
@media only screen and (max-width: 1224px) 
{
	.pgSize{
		width:98%;
		/*padding:0% 2%;*/
	}
	.right-navi{
		padding-right:0px;	
	}
	.logo-img{
		width: 100%;
		margin: 10px 0px;
		padding: 0px;
		text-align:center;
	}
	.top-navibar, .right-navi{
		float:none;
		width:auto;
		clear:both;	
	}
	.footerLink ul{
		padding: 0% 1.1%;	
	}
	.researchPnl{
		width:36.2%;	
		margin-bottom:6px;	
	}
	
}
@media only screen and (min-width: 600px) and (max-width: 1024px) {
	/*.researchPnl{
		width:36.2%;	
	}*/
}
@media only screen and (min-width: 960px) and (max-height: 460px){
	.researchPnl{
		/*width:38.2%;*/
		margin-bottom:6px;	
	}
	/*.news{
		//height:auto;	
	}*/
}

/*............New Slider..............*/
#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
display:none;
}

.nbs-flexisel-container {
    position:relative;
    max-width:100%;
}
.nbs-flexisel-ul {
    position:relative;
    width:99999px;
    margin:0px;
    padding:0px;
    list-style-type:none;   
    text-align:center;  
}

.nbs-flexisel-inner {
    position: relative;
    overflow: hidden;
    float:left;
    width:100%;
    
}

.nbs-flexisel-item {
    float:left;
    margin:0px;
    padding:0px;
    /*cursor:pointer;*/
    position:relative;
    /*line-height:0px;*/
}
.nbs-flexisel-item img {
    max-width: 100%;
    /*cursor: pointer;*/
    position: relative;
   /* margin-top: 10px;*/
    margin-bottom: 10px;
}
.nbs-flexisel-item a{
	color:#000;
	float:left;
	font-size:12px;	
	margin-top:5px;
}
.nbs-flexisel-item a:hover{
	text-decoration:underline;	
}
/*** Navigation ***/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    padding:5px 10px;
    border-radius:15px;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;      
    position: absolute;
    cursor: pointer;
    z-index: 4;
    top:25%;
    background: rgba(0,0,0,0.5);
    color: #fff;     
}

.nbs-flexisel-nav-left {
    left: 10px;
}

.nbs-flexisel-nav-left:before {
    content: "<"
}

.nbs-flexisel-nav-left.disabled {
    opacity: 0.4;
}

.nbs-flexisel-nav-right {
    right: 5px;    
}

.nbs-flexisel-nav-right:before {
    content: ">"
}

.nbs-flexisel-nav-right.disabled {
    opacity: 0.4;
}
/*............END New Slider..............*/

  
  
  